body {
    background-color: whitesmoke;
    color: darkred;
    font-size: 1.5em;
    width: 100vw;
    height: 100vh;
    
    
}

main {
    background-image: url(/image/maiyellowflower.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;

}

nav {
    padding-right: 15vw;
    text-align: right;
}

footer {
   text-align: center;
}

/* h1 {
    color: yellow;
    text-align: left;
    font-size: 4em;
    padding-bottom: 45vh;
}


section {
    background-color: purple;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

article {
    background-color: orange;
    border: 1px dash white;
    display: flex;
    flex-direction: row;
}

img {
    height: 15vh;
} */

@media (max-width: 480px) {
    section {
        flex-direction: column;
    }

}